/* work sans font from google */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 230px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #131313;
  font-size: 2.2rem;
  font-weight: 700;
}
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-menu a {
  text-decoration: none;
  color: #424242;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 26px;
}

/* banner section styles */

.banner {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.banner-title {
  color: #131313;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}

.banner-text {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn {
  padding: 20px 25px;
  background-color: #ff900e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary {
  text-align: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 860px;
}

.banner-pic img {
  width: 100%;
}
/* main section styles */

main {
  max-width: 1440px;
  margin: 5.3rem auto;
}

/* feature section styles */

.feature {
  display: flex;
  align-items: center;
  gap: 4.7rem;
}

.square-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.feature-title {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

.title-black {
  font-weight: 700;
  color: #131313;
}

.title-orange {
  font-weight: 700;
  color: #ff900e;
}

.feature-text {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 2rem;
}

.feature-card-right img {
  height: 75%;
}

.badge {
  border-radius: 0.5rem;
  background: #ff900e;
  max-width: 15rem;
  text-align: center;
  padding: 2.8rem 2rem;
  position: relative;
  bottom: 100px;
  right: 100px;
}

.badge-title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.badge-text {
  color: #fff;
  font-size: 1.5625rem;
}

/* feature-card section styles */

.feature-card-section {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  gap: 9rem;
}

.feature-card-intro {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-left: 1.3rem;
  border-left: 6px solid #ff900e;
}

.feature-card-text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  padding-bottom: 1.8rem;
}

.feature-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.feature-card {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 1.85rem;
}

.card-title {
  padding-bottom: 0.65rem;
}

/* facts section styles */

.facts {
  margin-top: 8rem;
}
.facts-title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.facts-text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.facts-card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6.25rem;
}

/* card styles */

.facts-card {
  border-radius: 0.5rem;
  border: 1px solid #ff900e;
  padding: 2.85rem 2.25rem;
  text-align: center;
  width: 15rem;
  height: 10rem;
}

.facts-card-title {
  color: #424242;
  font-size: 2.8125rem;
  font-weight: 600;
}

.facts-cards-text {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}

/* sponsors section styles */

.sponsors {
  text-align: center;
  margin-top: 11rem;
}

.sponsors-title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.sponsors-text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  padding-bottom: 3.1rem;
}
.sponsors-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sponsors-logo img {
  filter: grayscale(100%);
}

/* responsive web design */
/* small devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav {
    flex-direction: column;
    gap: 20px;
  }

  main {
    padding: 1.4rem;
    margin-top: 2rem;
  }

  .feature {
    flex-direction: column;
  }

  .square-collage {
    grid-template-columns: 1fr;
  }

  .facts-card-container {
    flex-direction: column;
    gap: 1.4rem;
  }
  .sponsors-logo {
    flex-direction: column;
    gap: 1.5rem;
  }

  .sponsors-logo img {
    width: 165px;
  }
  .feature-card-section {
    flex-direction: column;
  }

  .feature-card-right img {
    width: 100%;
  }

  .badge {
    position: static;
  }
}

/* medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }

  main {
    padding: 1.5rem;
  }

  .feature {
    flex-direction: column;
  }

  .facts-card-container {
    gap: 1rem;
  }

  .sponsors {
    padding: 1rem;
  }

  .sponsors-logo {
    gap: 1.5rem;
  }

  .sponsors-logo img {
    width: 100px;
  }

  .feature-card-section {
    flex-direction: column;
  }

  .feature-card-right img {
    width: 100%;
  }

  .badge {
    position: static;
  }
}
